<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        
        <h1 class="text-center" style="font-family: monospace;">Welcome to Safe Locker System</h1>
        <a routerLink="/login" mat-raised-button color="accent">Login Here!!</a>
        <h1 class="text-center" style="margin-top: 20px; font-family: monospace;">  Keep your valuables Safe and Sound</h1>
        <div class="container text-center">
            <img class="img-fluid"  style="width: 250px;" src="/assets/locker-gif.gif"  alt="img">
        </div>
    </div>

</div>